#root, body {
  margin: 0;
  padding: 0;
}
.main_div{
  background: #5969d3;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child_div{
  padding: 50px 0;
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background: #131943;
  height: auto;
  width: 400px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  box-sizing: content-box;
}
figure{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
figcaption{
  color: white;
  font-size: 25px;
  margin: 10px;
}
.showItem{
  padding: 2px;
  box-sizing: content-box;
  margin-top: 10px;
}
.addItems{
  height: 40px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
  background: white;
  width: 350px;
  border-radius: 10px;
  margin-top: 10px;
}
.addItems i{
  font-size: 20px;
  cursor: pointer;
  margin-right: 18px;
}
.addItems i:hover{
  color: green;
}
.addItems input{
  margin-left: 18px;
  font-size: 20px;
  font-weight: 550;
  width: 80%;
  border: none;
  outline: none;
}
.eachItem{
  height: auto;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
  background: white;
  width: 350px;
  border-radius: 10px;
  background: #1e1e8b;
  color: white;
  margin-top: 10px;
}
.eachItem:hover{
  background: white;
  color: #131943;
}
.eachItem i{
  font-size: 20px;
  cursor: pointer;
  margin-right: 18px;
}
.delete:hover{
  color: red;
}
.edit:hover{
  color: green;
}
.eachItem h3{
  cursor: pointer;
  margin-left: 18px;
  width: 75%;
}
.btn{
  background-color: #5969d3;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  color: white;
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(255, 78, 172);
  font-size: 22px;
}